@font-face {
    font-family: my-app-icon;
    src: url("my-app-icon.woff2?948e5646") format("woff2"),
             url("my-app-icon.woff?948e5646") format("woff"),
             url("my-app-icon.ttf?948e5646") format("truetype"),
             url("my-app-icon.svg?948e5646#my-app-icon") format("svg");
    font-weight: normal;
    font-style: normal;
}

.pw-msk, .pw-msk input[type=text] {
    font-family: 'my-app-icon';
}

.pw-msk::placeholder, .pw-msk input[type=text]::placeholder {
    font-family: initial;
}

[class^="my-icon"]::before, [class*=" my-icon"]::before {
    font-family: 'my-app-icon' !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal;
}


.my-icon-bookmark::before {
    content: "\12c";
}

.my-icon-calendar::before {
    content: "\12d";
}

.my-icon-state-beinvited::before {
    content: "\12e";
}

.my-icon-success::before {
    content: "\12f";
}

.my-icon-warning::before {
    content: "\130";
}

.my-icon-pwd_msk::before {
    content: "\7f";
}

