@font-face {
    font-family: my-app-icon;
    src: url("my-app-icon.woff?57488b65") format("woff"),
             url("my-app-icon.ttf?57488b65") format("truetype"),
             url("my-app-icon.svg?57488b65#my-app-icon") format("svg");
    font-weight: normal;
    font-style: normal;
}

[class^="my-icon"], [class*=" my-icon"] {
    font-family: 'vant-icon', 'my-app-icon', 'icoflaginfo' !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.my-icon-bookmark::before {
    content: "\ea01";
}

.my-icon-calendar::before {
    content: "\ea02";
}

.my-icon-state-beinvited::before {
    content: "\ea03";
}

.my-icon-success::before {
    content: "\ea04";
}

.my-icon-warning::before {
    content: "\ea05";
}

