@import "element-theme/theme-changed.scss";
//导入element-theme-chalk的变量名
@import "../../node_modules/element-theme-chalk/src/common/var.scss";

//自定义颜色变量
$my-custom-color: #0cdd3a;
$my-custom-color2: #c655dd;
