@import "defines";
//在这里写覆盖饿了么的全局样式

.primay-color {
  color: $--color-primary;
}

// 为了覆盖按需加载的css样式，主题色样式添加了body前缀提升优先级。但提升优先级也影响了小部分原有界面，需覆盖样式
body {
  .el-button.el-button--primary:hover, .el-button.el-button--primary:focus,
  button.el-button.is-plain:hover, button.el-button.is-plain:focus {
    color: #fff;
  }
  .el-button.el-button--text:hover, .el-button.el-button--text:focus {
    border-color: transparent;
    background-color: transparent;
  }
}
