// 项目的公告样式

.global-mask {
	background: transparent;
}

/*滚动条样式*/
::-webkit-scrollbar {
	border-radius: 8px;
	width: 8px;
	height: 8px;
}

//::-webkit-scrollbar-track {
//	border-radius: 8px;
//	-webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
//	background: linear-gradient(90deg, #efefef 0%, #fff 78%, #efefef 100%);
//}

::-webkit-scrollbar-thumb {
	border-radius: 8px;
	-webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, .3);
	background: linear-gradient(90deg, #efefef 0%, #fff 78%, #efefef 100%);
}

::-webkit-scrollbar-thumb:vertical {
	background: linear-gradient(0deg, #efefef 0%, #fff 78%, #efefef 100%);
}
